.no-webp .imagen-contacto {
	background-image: url('../img/header.jpg');
}
.webp .imagen-contacto {
	background-image: url('../img/header.webp');
}
.imagen-contacto {
	background-position: center center;
	background-size: cover;
	padding: $separacion * 2 0;
    
	.contenido-contacto {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		font-size: 4rem;
		font-weight: $black;
		color: $blanco;
	}
	p {
		color: $blanco;
		font-size: 1.8rem;
	}
}
